@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope', sans-serif;
  /* font-weight: 800; */
}
@layer base {
  :root{
    --color-cyann: 193deg 38% 86% ;
    --color-neonn: 150deg 100% 66%;
    --color-grayish-blue: 217deg 19% 38%;
    --color-dark-grayish-blue: 217deg 19% 24%;
    --color-dark-blue: 218deg 23% 16%;
      --shadow-color:  	rgb(82, 255, 168); /* Adjust the color and opacity as needed */
  }
}
/* *{
  outline: 1px dashed red;
} */
.hover\:shadow-custom:hover {
  box-shadow: 0 0 10px var(--shadow-color);
}